* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEF0EF;
}

.primeira_tela {
    width: 228px;
    height: 204px;
    margin-top: 5rem;
}

.entrada_2,
.entrada {
    background-color: #86EFAC !important;
    color: black;
    font-weight: 600;
    font-size: small;
    width: 60%;
    height: 4em;
    margin-left: 1.5vh;
}

.entrada_2 {
    height: 12em;
    margin-left: 8vh;

}

.entrada_2 i {
    /* height: 20em !important;
    width: 4em !important; */
    font-size: 800%;
    padding-top: 25%;
}

nav {
    background-color: #86EFAC !important;
}

iframe {
    display: block;
    margin: 10px auto 5px auto;
}

.search-box {
    border: 1px solid #ccc !important;
    border-radius: 20px !important;
    /* padding: 0 !important; */
    width: auto !important;
    height: 50px !important;
}

.search-box input[type="text"] {
    border: none !important;
    width: 100% !important;
    padding-left: 10px !important;
    border-radius: 20px !important;
    outline: none !important;
}



.rectangle {
    position: absolute;
    width: 100%;
    height: 386px;
    left: 0px;
    top: 512px;

    background: #86EFAC;
    border-radius: 35px;
}

.bloco {
    padding-top: 2em;
}

.rectangle2 {

    position: flex;
    width: 320px;
    height: 77px;
    margin: 10px auto 10px auto;
    background: #EEF0EF;

}

.produto {
    margin: 9px 2px 9px 5px;
}

.local {
    font-size: 14px;
    margin-top: 2em;
}

.brand-logo {
    width: 200px;
    height: 70px;
}



.login-form {
    width: 300px !important;
    margin: auto !important;
    text-align: center !important;
}

.login-logo {
    width: 100px !important;
    height: 100px !important;
    margin: auto !important;
    margin-bottom: 20px !important;
}

.login-input {
    width: 80% !important;
    padding: 10px !important;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    margin-bottom: 10px !important;
    margin-left: 20px !important;
}

.login-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}